<%- include('./layouts/header', {title: 'TaskTwist | Tasks' , style: '/styles/task.css' }) %>

  <body>
    <div class="main-container">
      <div class="main-content-wrapper">

        <aside>
          <div class="overview-container">

            <div class="checklist-name-wrapper">
              <img src="/imgs/commom/TaskTwistLogo.png" alt="taskTwitst-logo" class="checklist-image">
              <div>
                <h1>
                  <%= checkList.name %>
                </h1>
                <p>Workspace</p>
              </div>
            </div>
            <p class="overview-title">OVERVIEW</p>

            <div class="overview-task-wrapper is-bold">

              <% const tasksToDo=checkList.tasks.filter(task=> task.done === "to-do"); %>
                <% const totalTasksToDo=tasksToDo.reduce((acum, task)=> acum + 1, 0); %>
                  <span class="tasks-counter">
                    <h2><i class="bi bi-hammer"></i></h2>
                    <%= totalTasksToDo %> TO-DO Tasks
                  </span>

                  <% const tasksInProgress=checkList.tasks.filter(task=> task.done === "inProgress"); %>
                    <% const totalTasksInProgress=tasksInProgress.reduce((acum, task)=> acum + 1, 0); %>
                      <span class="tasks-counter">
                        <h2><i class="bi bi-arrow-clockwise"></i></h2>
                        <%= totalTasksInProgress %> In Progress Tasks
                      </span>

                      <% const tasksCompleted=checkList.tasks.filter(task=> task.done === "completed"); %>
                        <% const totalTasksCompleted=tasksCompleted.reduce((acum, task)=> acum + 1, 0); %>
                          <span class="tasks-counter">
                            <h2><i class="bi bi-check-square"></i></h2>
                            <%= totalTasksCompleted %> Completed Tasks
                          </span>
            </div>
          </div>

          <div class="uncompleted-tasks-container">
            <p class="uncompleted-tasks-title">Current Uncompleted Tasks
              <a href="/checklists/<%= checkList.id %>/newTask"><i class="bi bi-plus-lg"></i></a>
            </p>
            <% checkList.tasks.filter(task=> task.done === "to-do" || task.done === "inProgress").forEach(task => { %>
              <div class="uncompleted-tasks-name">
                <p>
                  <%= task.name %>
                </p>
              </div>
              <% }) %>
          </div>
          <div class="profile">
            <img src="/imgs/tasks/ProfileImg (2).jpeg" class="profile-img">
            <div>
              <p>Erik Scarcela Araujo</p>
              <p class="profile-function">Full Stack Developer</p>
            </div>
          </div>

        </aside>

        <main>
          <header>
            <div class="logo">
              <img src="/imgs/commom/TaskTwistLogo.png" alt="taskTwist-logo" class="logo-image">
              <h1 class="logo-title">TaskTwist</h1>
            </div>

            <nav class="navbar is-bold">
              <a href="/">HOME PAGE</a>
              <a href="/checklists">SHOW CHECKLISTS</a>
              <a href="">ABOUT ME</a>
            </nav>
          </header>

          <div class="main-title-wrapper">
            <div>
              <p class="main-title">
                <%= checkList.name %>
              </p>
            </div>
            <a href="/checklists/<%= checkList.id %>/newTask" class="new-task-btn">Create New Task <i
                class="bi bi-plus-lg"></i></a>
          </div>
          <p class="main-description">Transform your day by organizing your tasks with simplicity</p>

          <div class="task-status-container">

            <div class="tasks-list">
              <p class="status-todo-btn">To Do</p>
              <% checkList.tasks.filter(task=> task.done === 'to-do').forEach(task=> { %>
                <div class="task-card">
                  <img src="<%= task.image ? task.image : '/imgs/commom/homepageImg.png' %>" alt="task-img"
                    class="task-card-image">
                  <p class="is-bold">
                    <%= task.name %>
                  </p>
                  <p>
                    Created At : <%= task.createdAt.toLocaleDateString() %>
                  </p>
                  <div class="icons-wrapper is-bold">
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/toDo">
                      <button class="action-btn" type="submit"><i class="bi bi-hammer"></i></button>
                    </form>
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/inProgress">
                      <button class="action-btn" type="submit"><i class="bi bi-arrow-clockwise"></i></button>
                    </form>
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/completed">
                      <button class="action-btn" type="submit"><i class="bi bi-check-square"></i></button>
                    </form>
                    <div>
                      <button class="action-btn"><a href="/tasks/<%= task._id %>?_method=delete"><i
                            class="bi bi-trash-fill"></i></a></button>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>

            <div class="tasks-list">
              <p class="status-inprogress-btn">In Progress</p>
              <% checkList.tasks.filter(task=> task.done === 'inProgress').forEach(task=> { %>
                <div class="task-card">
                  <img src="<%= task.image ? task.image : '/imgs/commom/homepageImg.png' %>" alt="task-img"
                    class="task-card-image">
                  <p class="is-bold">
                    <%= task.name %>
                  </p>
                  <p>
                    Created At : <%= task.createdAt.toLocaleDateString() %>
                  </p>
                  <div class="icons-wrapper is-bold ">
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/toDo">
                      <button class="action-btn" type="submit"><i class="bi bi-hammer"></i></button>
                    </form>
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/inProgress">
                      <button class="action-btn" type="submit"><i class="bi bi-arrow-clockwise"></i></button>
                    </form>
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/completed">
                      <button class="action-btn" type="submit"><i class="bi bi-check-square"></i></button>
                    </form>
                    <div>
                      <button class="action-btn"><a href="/tasks/<%= task._id %>?_method=delete"><i
                            class="bi bi-trash-fill"></i></a></button>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>

            <div class="tasks-list">
              <p class="status-completed-btn">Completed</p>
              <% checkList.tasks.filter(task=> task.done === 'completed').forEach(task=> { %>
                <div class="task-card">
                  <img src="<%= task.image ? task.image : '/imgs/commom/homepageImg.png' %>" alt="task-img"
                    class="task-card-image">
                  <p class="is-bold">
                    <%= task.name %>
                  </p>
                  <p>
                    Created At : <%= task.createdAt.toLocaleDateString() %>
                  </p>
                  <div class="icons-wrapper is-bold">
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/toDo">
                      <button class="action-btn" type="submit"><i class="bi bi-hammer"></i></button>
                    </form>
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/inProgress">
                      <button class="action-btn" type="submit"><i class="bi bi-arrow-clockwise"></i></button>
                    </form>
                    <form method="POST" action="/checklists/<%= checkList.id %>/tasks/<%= task._id %>/completed">
                      <button class="action-btn" type="submit"><i class="bi bi-check-square"></i></button>
                    </form>
                    <div>
                      <button class="action-btn"><a href="/tasks/<%= task._id %>?_method=delete"><i
                            class="bi bi-trash-fill"></i></a></button>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
      </div>
    </div>
    </div>
    </div>
    </main>

  </body>

  </html>